:root{
--merienda: 'Merienda', cursive;
--merriweather: 'Merriweather Sans', sans-serif;
--white: #FFFFFFff;
--celadon: #B6D8A0ff;
--pistachio: #88CA5Eff;
--silver: #A4A5A3ff;
--white-2: #FFFFFFff;
}


#main-container {
    display: flex;
    justify-content: space-between;
  }
#meal-search-questionnaire {
    width: 50%;
    margin: 20px 20px 20px 20px;
  }
#tdee-questionnaire {
    width: 50%;
    margin: 20px 20px 20px 20px;
  }
