:root {
  --merienda: "Merienda", cursive;
  --merriweather: "Merriweather Sans", sans-serif;
  --white: #ffffff;
  --celadon: #b6d8a0;
  --pistachio: #88ca5e;
  --silver: #a4a5a3;
  --dark-grey: #181716;
}

span {
  font-family: var(--merriweather);
}

h1{
  font-family: var(--merriweather);
}

.welcome-text {
  font-family: var(--merriweather);
  color: var(--white);
}

#home-link {
  animation: jackInTheBox;
  animation-duration: 2.2s;
}

#home-link:active {
  animation: rollOut;
  animation-duration: 5s;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.recipe-container a:hover {
  color: var(--celadon);
}

.meal-plan-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
}

@media (max-width: 768px) {
  .meal-plan-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .chart-container {
    width: 90vw;
    padding: 0;
    margin: 0;
  }
}

.chart-container {
  padding: 1rem;
  margin-top: 3rem;
  width: 80vw;
  height: 42.5vh;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--dark-grey);
  box-shadow: 0 0 10px var(--dark-grey);
}

@media only screen and (max-width: 768px) {
  .chart-container {
    width: 85vw;
    height: 42.5vh;
  } 
}
  
.select-meal-items {
  border-radius: 10px;
  box-shadow: 0 0 10px var(--dark-grey);
  margin: 1rem;
  text-align: center;
  background-color: var(--celadon);
  box-shadow: 0 0 10px var(--dark-grey);
}

.recipe-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--silver);
}


.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-family: var(--merriweather);
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-options li {
  padding: 8px;
}

.dropdown-options li a {
  color: #000000;
  text-decoration: none;
}

.dropdown-options li a:hover {
  background-color: #f1f1f1;
}

.dropdown-container.show .dropdown-options {
  display: block;
}

.tdee-questionnaire{
  font-family: var(--merriweather);
}

.tdee-questionnaire-height {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul li {
  font-family : var(--merriweather);
}
