

:root {
  --merienda: "Merienda", cursive;
  --merriweather: "Merriweather Sans", sans-serif;
  --white: #ffffffff;
  --celadon: #b6d8a0ff;
  --pistachio: #88ca5eff;
  --silver: #a4a5a3ff;
  --white-2: #ffffffff;
}
